/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Sidebar CSS
 */
#sidebar {
  background-color: #fff;
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 310px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 260px;
  }
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img.logo { 
  width: 150px;
}
.tip {
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

/**
 * Footer CSS
 */
footer {
  box-sizing: border-box;
  height: 60px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 25px;
}

 #sidedrawer {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 200px;
   left: -200px;
   overflow: auto;
   z-index: 2;
   background-color: #fff;
   transition: transform 0.2s;
 }

.action_div span {
  margin-left: 8px;
  padding:1px;
  display:inline-block;
  cursor:pointer; 
  color: #7fb3d5;
}
.action_div .action_like.nolike {
  color: #7fb3d5;  
}
.action_div .action_like.uliked{color:red;}

.btl_button {
  display: inline-block;
  position: relative;
  width: 80px;
  padding: 0;
  margin: 5px 10px 5px 0;
  text-align: center;
  line-height: 20px;
  color: #FFF;
  background: #00AE68;
  border-radius: 2px;
  transition: all 0.2s ;
}
input.offset_limit{
  display:inline-block;
  line-height: 10px;
  height:10px;
}

.svg-container{width:964px; height:530px;}

/* tab display styling */

/*----- Tabs -----*/
.tabs {
width:100%;
display:inline-block;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}
.tab-links li {
margin:0px 5px;
float:left;
list-style:none;
}
.tab-links a {
padding:9px 15px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#7FB5DA;
font-size:16px;
font-weight:600;
color:#4c4c4c;
transition:all linear 0.15s;
}
.tab-links a:hover {
background:#a7cce5;
text-decoration:none;
}
li.active a, li.active a:hover {
background:#fff;
color:#4c4c4c;
}
/*----- Content of Tabs -----*/
.tab-content {
padding:15px;
border-radius:3px;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
background:#fff;
}
.tab {
display:none;
}
.tab.active {
display:block;
}

/* pagination style ---  http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/css/css3_pagination.asp.html*/
ul#pagination {
    display: inline-block;
    padding-bottom: 20px;
    margin: 0;
    float:right;
}

ul#pagination li {display: inline;}

ul#pagination li .page_no {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
    transition: background-color .3s;
}
ul#pagination li span {
    background-color: #4CAF50;
    color: white;
}



